@font-face {
    font-family: PPMori;
    font-weight: normal;
    src: url("assets/font/PPMori-Regular.otf") format("opentype");
}

@font-face {
    font-family: PPMori;
    font-weight: bold;
    src: url("assets/font/PPMori-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: PPMori;
    font-weight: normal;
    font-style: italic;
    src: url("assets/font/PPMori-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: italic;
    src: url("assets/font/PPEditorialNew-Italic.otf") format("opentype");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PPMori';
    font-weight: 400;
    font-style: normal;

}

:root {
    --main-color: #1C1B1F;
    --primary-color: #6750A4;
    --secondary-color: #F3EDF7;
    --lighter-color: #FFFBFE;
    --secondary-color-selection: #E2DAED;
    /* --disabled-color: #cccccc; */
}

h1 {
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 32px;
}

h2 {
    font-size: 22px;
    letter-spacing: 0.02em;
    line-height: 28px;
}

h3 {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 600;
}

h5 {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

p {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
}

body {
    overflow: hidden;
}

.flex-row {
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
}

.flex-row {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    padding: 16px;
    gap: 16px;
    width: 100%;
    height: 60px;
    background: var(--lighter-color);
    flex: none;
    order: 0;
    align-self: stretch;
}

.header h2 {
    width: calc(100% - 76px);
    text-align: center;
}

.mainContent {
    display: flex !important;
    padding: 16px;
    gap: 20px !important;

    width: 100%;
    height: auto;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.input-visible {
    border: 2px solid var(--primary-color);
    width: 100%;
    border-radius: 4px;
    text-align: left;
    height: 56px;
    margin-top: 16px;
}

.dropdown-toggle .input-label {
    position: absolute;
    top: -10px;
    padding: 4px;
    background-color: var(--lighter-color);
}

.dropdown-menu {
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    /* display: block; */
    background-color: var(--secondary-color);
}

.dropdown-item {
    padding: 0.25rem 46px;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--secondary-color-selection) !important;
}

.roundButton {
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    width: max-content;
    height: 40px;

    background: var(--primary-color);
    border-radius: 100px;
    border: none;
    color: white;
    flex: none;
}

.btnFixed{
    position: absolute;
    bottom: 24px;
    right: 16px;
}

.squareTag {
    border: none;
    align-items: center;
    padding: 6px 8px 6px 12px;
    gap: 8px;

    width: auto;
    height: 32px;

    background: var(--secondary-color);
    border-radius: 8px;
    flex: none;

}

.squareTag h5 {
    max-height: 6px;
}

.tagsContainer {
    gap: 8px;
}

.scrollContainer {
    /* background-color: #6750A4; */
    height: calc(100vh - 124px);
    position: absolute;
    top: 124px;
    left: 0;
    width: 100vw;
    overflow-y: scroll;
}

#line {
    height: 100%;
    position: absolute;
    left: 50%;
    border: none;
    border-left: 3px dotted var(--main-color);
}

.days {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    gap: 1000px;
}

.days * {
    background-color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.daysCentraleContainer {
    display: flex;
    max-width: 65%;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-color: white;
    padding: 10px;
    gap: 20px;
    align-items: center;

}

.daysCentraleContainer * {
    text-align: center;
    height: auto;
}

#keepScrol {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    padding: 10px;
}

#private {
    position: absolute;
    width: 56px;
    height: 56px;
    right: 16px;
    bottom: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
    border-radius: 16px;

    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
    border: none;
    display: none;
    z-index: 4;
}

.overlayContent {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    width: 312px;
    height: auto;
    background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
    border-radius: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlayContent *{
    text-align: center;

}

.footerAlert{
    padding-left: fill;
    display: flex;
    gap: 16px;
    align-items: center;
}

.footerAlert h5{
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: 600;
    color: var(--primary-color);
    height: 4px;
    align-self: center;
    height: 12px;

}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
}